body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

label {
    margin-top: 10px;
    display: block;
}

input, button {
    margin: 5px;
}

#resultado {
    margin-top: 10px;
    font-weight: bold;
    color: #007bff;
}
.linha-caixas {
    display: flex;
    gap: 2px; /* Reduz a distância entre as caixas */
    margin-bottom: 5px;
}

.caixa-letra {
    width: 40px; 
    height: 40px; 
    text-align: center;
    font-size: 1.5em; 
    margin: 0 2px; 
}

.caixas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linha-bloqueada {
    pointer-events: none; /* Impede a interação com as caixas */
    opacity: 0.5; /* Reduz a opacidade para indicar que está bloqueada */
    background-color: #ddd; /* Fundo cinza para indicar que está bloqueada */
}

.linha-disponivel {
    /* Adicione estilos adicionais para indicar que está disponível, se desejar */
    background-color: #fff; /* Fundo branco para indicar que está disponível */
}

.caixa-correta {
    background-color: #8aff8a; /* Fundo verde para indicar a letra correta */
}

.caixa-incorreta {
    background-color: #ff8a8a; /* Fundo vermelho para indicar a letra incorreta */
}